@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  height: 100%;
}

body {
  height: 100%;
  background: darkseagreen;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR";
}